// REQUIRE COMPASS
@import 'compass/reset';
@import 'compass';
@import 'compass/css3';
@import 'compass/layout';

.stack-swipe {
  @include stretch(0, 0, 0, 0);

  // Stack
  .stack-swipe-stack {
    @include stretch(0, 0, 20%, 0);
    li {
      @include stretch(20px, 20px, 20px, 20px);
      @include opacity(0);
      @include scale(.8);
      z-index: -1;
      &:nth-of-type(1) { z-index: 3; cursor: move; }
      &:nth-of-type(2) { z-index: 2; }
      &.peek {
        @include opacity(.5);
        @include scale(.9);
      }
    }
  }

  // Buttons
  .stack-swipe-btns {
    position: absolute; bottom: 0; left: 0; width: 100%;
    height: 20%;
    display: table; table-layout: fixed;
    width: 100%; height: 20%;
    ul {
      display: table-row; width: 100%; height: 100%;
      li {
        display: table-cell; text-align: center; vertical-align: middle;
        cursor: pointer;
      }
    }

  }
}